{{#if currentUser.can_see_topic_group_button}}
  <button
    class="btn topic-group-button"
    title={{siteSettings.topic_group_button_title}}
    {{action "clickButton"}}>{{siteSettings.topic_group_button_label}}</button>
{{/if}}
